
img {
	width: 29.5%;
	float: left;
	margin: 1.65%;

}

.header{
	padding: 40px;
	text-align: center;
	background-image:url("https://66.media.tumblr.com/bd3823029d30fe22205a30add5f2d5f3/tumblr_inline_pmmxc3fxyT1vdozho_1280.png");
	color: white;
	font-size: 25px;
}

 .imageHolder {
      position: relative;
      width: 285px;
      height: 175px;
    }
    .imageHolder .caption {
      position: absolute;
      width: 283px;
      height: 50px;
      bottom: 0px;
      left: 0px;
      color: #ffffff;
      background: green;
      text-align:center;
      font-weight:bold;
      opacity:0.7;
    }
