.color{
	background-color:red;
	border: 1px solid black; 
}
.color1{
	background-color:blue;
	border: 1px solid black; 
}

.color2{
	background-color:pink;
	border: 1px solid black; 
}

.color3{
	background-color:purple;
	border: 1px solid black; 
}

.color4{
	background-color:green;
	border: 1px solid black; 
}

