body{
	margin: auto 0;
}
.container{
	/*display: grid;*/
	grid-template-columns: 1fr 2fr;
	display: flex;	 
}


.sidenav {
 display: flex;
 flex-direction: column;
 background-color: #ab2218;
}


.sidenav a{
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 16px;
}

.sidebar a:hover {
	background-color: white;
	color: red;
}

.aboutMe{
	background-color: pink;
	display:flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	/*height: 50vh;*/
}
.project1{
	padding: 20px;
}

.grid-wrapper{
	display:grid;
	grid-gap: 20px;

	grid-auto-rows: minmax(100px, auto);
}

/*.box > img{
	width:100%;
}*/

.box{
	grid-row: 1;
	}
	.profilePic{
		background-color: pink;
	}
.profilePic img{
	border-radius: 80%;
	width:40%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 20px;
}

img{
	width:100%;
}

.titles{
	text-align:center;
	/*color:white;*/
	font-size: 20px;
	background-image: linear-gradient(to top right, red, white);
}
.name{
	font-family: 'Playfair Display', serif;
	padding: 30px;
	background-image: linear-gradient(to right,red, purple);
	color:black;
	font-size: 50px;
	font-weight: bold;
}
/*.red{
	background: #ab2218;
}*/
/*.profilePicture img{
	border-radius: 80%;
	width:40%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.Icons {
	position: relative;
	width:50%;
	display: inline-flex;
}
.Icons .imageIcon{
	border-style: groove;
	display: inline-flex;
	align-items:center;
	justify-content: center;
	height: 9rem;
	width: 9rem;
	margin: 0.5%;
}
.imageIcon:hover{
	opacity: 0.3;
}
.Icons2 {
	position: relative;
	width:50%;
	display: inline-flex;

}
.Icons2 .imageIcon2{
	border-style: groove;
	display: inline-flex;
	align-items:center;
	justify-content: center;
	height: 9rem;
	width: 9rem;
	margin: 0.5%;
}
.imageIcon2:hover{
	opacity: 0.3;
}
.title p{
	font-size: 20px;
	font-weight: bold;
}
.rightSection{
	padding: 50px;
	background: #dedcdc;
	color:black;
}
.about{
	font-family: 'Playfair Display', serif;
	padding: 50px;
	background: #dedcdc;
	color:black;

}
.text-center{
	color:white;
	font-size: 20px;
}
*/