 a{
  color: white;
  text-decoration: none;
}
a:hover{
	color: #00ff11;
}
div.gallery {
	width: 180px;
	float: center;
	margin: 5px;
	padding-left: 40%;


}
div.gallery img{
	width: 100%;
	height: auto;
}

div.desc{
	padding: 3px;
	text-align: center;
}

.header{
	padding: 40px;
	text-align: center;
	background-image:url("../images/animeImages/kh_final_world.jpg");
	color: white;
	font-size: 25px;
}


